/*styles.css
Team AS - Andrea Ung andreaung@csu.fullerton.edu; Sarah Nuno saritanu@csu.fullerton.edu
File Description: Helps align the html webpage to the center and provides a font style for the title.
*/

body {
  text-align: center;
  font-family: sans-serif;
}
#canvas {
    display: grid;
    width: 410px;
	height: 200px;
	border: 1px solid black;
}

#canvas2 {
    display: grid;
    width: 410px;
	height: 200px;
	border: 1px solid black;
}

	






