<!--Team AS: Andrea Ung andreaung@csu.fullerton.edu
			 Sarah Nuno saritanu@csu.fullerton.edu
File Description - HTML file calls the javascript and css files: draw-stuff.js and styles.css. After calling the files, 
the html file will visually display the Cellular Rule 150 on a web page after pressing the Rule150 button. -->

<!doctype html><html><head>
<title>This is an HTML canvas</title>
	<link rel="stylesheet" href="../assets/styles.css">
</head>
	<body>
	<h1>Project #2 - Cella Rule 150</h1>
	<h4>Team-Name: AS </h4>

</body>

<script src="../assets/draw-stuff.js"></script>

<form>
    <fieldset>
        <input type="button" value="Rule150" onclick="JavaScript:eca();" />
    </fieldset>
</form>
<br />
<div id="canvas"></div>



<!--
</script>
</html>

<h1>Elementary Cellular Automata</h1>

<script src="../assets/draw-stuff.js"></script>
<form>
    <fieldset>
        <label for="input_ruleNum">Rule Number:&nbsp;</label>
        <input type="text" id="input_ruleNum" value="" />
        <font color="gray">(Range: 0-255(Integer))</font><br />
        <label for="input_cellSize">Cell Size:&nbsp;</label>
        <input type="text" id="input_cellSize" value="" style="width: 30px;" />px
        <font color="gray">(Optional(Integer))</font><br />
        <label for="seedSelector">Random Seeds:&nbsp;</label>
        <input type="checkbox" id="seedSelector" checked="checked" /><br />
        <input type="button" value="Apply" onclick="JavaScript:eca();" />
    </fieldset>
</form>
<br />
<div id="canvas"></div>-->
